@model IEnumerable<Brewery_Tracker.Models.Beers>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="hero is-dark">
    <div class="hero-body">
        <div class="container">
            <h1 class="title name-font brand">
                Beers
            </h1>
            <h2 class="subtitle">
                Here is a list of beers you might find at a brewery!

            </h2>
        </div>
    </div>
</section>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Brewery.Brewery_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Beer_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Beer_Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Beer_Rating)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImageName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Brewery.Brewery_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Beer_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Beer_Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Beer_Rating)
        </td>
        <td>
            <img src='@Url.Action("Picture", new { imageName = item.ImageName})' />
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Beer_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.Beer_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Beer_ID })
        </td>
    </tr>
}

</table>
