@model IEnumerable<Brewery_Tracker.Models.Beers>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="hero is-dark">
    <div class="hero-body">
        <div class="container">
            <h1 class="title name-font brand">
                Beers
            </h1>
            <h2 class="subtitle">
                Here is a list of beers you might find at a brewery!

            </h2>
        </div>
    </div>
</section>


<section class="hero">
    <div class="hero-body">
        <div class="has-text-centered">
            @Html.ActionLink("Create New", "Create", new object { }, new { @class = "button is-link" })
        </div>
    </div>
</section>




<div class="columns is-centered">
    <div class="column is-4">
        @foreach (var item in Model)
        {
            <div class="card top-bot-space-small">
                <header class="card-header">
                    <p class="card-header-title">
                        @Html.DisplayFor(modelItem => item.Beer_Name)
                    </p>
                </header>
                <div class="card-content">
                    <div class="content">
                        <div class="title is-4">Rating: <span class="rating">@Html.DisplayFor(modelItem => item.Beer_Rating)</span></div>
                    </div>
                    <div class="content">
                        <div class="title is-4">Brewery: <span>@Html.DisplayFor(modelItem => item.Brewery.Brewery_Name)</span></div>
                    </div>
                    <div class="content">
                        <div class="title is-4">Description:</div>
                        @Html.DisplayFor(modelItem => item.Beer_Description)
                    </div>
                    <div class="content">
                        <img src='@Url.Action("Picture", new { imageName = item.ImageName})' />
                    </div>
                </div>
                <footer class="card-footer">
                    @Html.ActionLink("Edit", "Edit", new { id = item.Beer_ID }, new { @class = "card-footer-item" })
                    @Html.ActionLink("Details", "Details", new { id = item.Beer_ID }, new { @class = "card-footer-item" })
                    @Html.ActionLink("Delete", "Delete", new { id = item.Beer_ID }, new { @class = "card-footer-item" })
                </footer>
            </div>
        }

    </div>
</div>