@model IEnumerable<Brewery_Tracker.Models.Brewery>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="hero is-dark">
    <div class="hero-body">
        <div class="container">
            <h1 class="title name-font brand">
                Breweries
            </h1>
            <h2 class="subtitle">
                Check out this list of breweries, select which ones you've been to, and which ones are your favorites!

            </h2>
        </div>
    </div>
</section>

<section class="hero">
    <div class="hero-body">
        <div class="has-text-centered">
            @Html.ActionLink("Create New", "Create", new object { }, new { @class = "button is-link" })
        </div>
    </div>
</section>

<table class="table">
    <tr>
        <th>
            Brewery Name
        </th>
        <th>
            Brewery Description
        </th>
        <th>
            Brewery Address
        </th>
        <th>
            City
        </th>
        <th>
            State
        </th>
        <th>
            Zip
        </th>
        <th>
            Rating
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Brewery_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Brewery_Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Brewery_Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Brewery_City)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Brewery_State)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Brewery_Zip)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Brewery_Rating)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Brewery_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.Brewery_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Brewery_ID })
        </td>
    </tr>
}

</table>


<div class="columns">
    <div class="column is-4">
        <div class="card">
            <header class="card-header">
                <p class="card-header-title">
                    Component
                </p>
                <a href="#" class="card-header-icon" aria-label="more options">
                    <span class="icon">
                        <i class="fas fa-angle-down" aria-hidden="true"></i>
                    </span>
                </a>
            </header>
            <div class="card-content">
                <div class="content">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.
                    <a href="#">adsf<a>. <a href="#">#css</a> <a href="#">#responsive</a>
                    <br>
                    <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
                </div>
            </div>
            <footer class="card-footer">
                <a href="#" class="card-footer-item">Save</a>
                <a href="#" class="card-footer-item">Edit</a>
                <a href="#" class="card-footer-item">Delete</a>
            </footer>
        </div>
    </div>
</div>