@model IEnumerable<Brewery_Tracker.Models.Brewery>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="hero is-dark">
    <div class="hero-body">
        <div class="container">
            <h1 class="title name-font brand">
                Breweries
            </h1>
            <h2 class="subtitle">
                Check out this list of breweries, select which ones you've been to, and which ones are your favorites!

            </h2>
        </div>
    </div>
</section>

<section class="hero">
    <div class="hero-body">
        <div class="has-text-centered">
            @Html.ActionLink("Create New", "Create", new object { }, new { @class = "button is-link" })
        </div>
    </div>
</section>

<div class="columns is-centered">
    <div class="column is-4">
        @foreach (var item in Model)
        {
            <div class="card top-bot-space-small">
                <header class="card-header">
                    <p class="card-header-title">
                        @Html.DisplayFor(modelItem => item.Brewery_Name)
                    </p>
                </header>
                <div class="card-content">
                    <div class="content">
                        <div class="title is-4">Rating: <span class="rating">@Html.DisplayFor(modelItem => item.Brewery_Rating)</span></div>
                    </div>
                    <div class="content">
                        <div class="title is-4">Description:</div>
                        @Html.DisplayFor(modelItem => item.Brewery_Description)
                    </div>
                    <div class="content">
                        <div class="title is-4">Location:</div>
                        @Html.DisplayFor(modelItem => item.Brewery_Address)
               
                        @Html.DisplayFor(modelItem => item.Brewery_City), @Html.DisplayFor(modelItem => item.Brewery_State) @Html.DisplayFor(modelItem => item.Brewery_Zip)
                    </div>
                </div>
                <footer class="card-footer">
                    @Html.ActionLink("Edit", "Edit", new { id = item.Brewery_ID }, new { @class = "card-footer-item" })
                    @Html.ActionLink("Details", "Details", new { id = item.Brewery_ID }, new { @class = "card-footer-item" })
                    @Html.ActionLink("Delete", "Delete", new { id = item.Brewery_ID }, new { @class = "card-footer-item" })
                </footer>
            </div>
        }
       
    </div>
</div>