@model Brewery_Tracker.ViewModels.Home.BreweryListViewModel
@{
    ViewBag.Title = "Breweries";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="hero is-dark">
    <div class="hero-body">
        <div class="container">
            <h1 class="title name-font brand">
                Breweries
            </h1>
            <h2 class="subtitle">
                Check out this list of breweries, select which ones you've been to, and which ones are your favorites!

            </h2>
        </div>
    </div>
</section>


<h2>All Breweries</h2>

@Html.ListBox("breweryList", Model.BreweryList)


<h2>Top Rated Brewery</h2>

<dl>
    <dt>ID</dt>
    <dd>@Model.TopRatedBrewery.Brewery_ID</dd>

    <dt>Name</dt>
    <dd>@Model.TopRatedBrewery.Brewery_Name</dd>

    <dt>State</dt>
    <dd>@Model.TopRatedBrewery.Brewery_State</dd>

    <dt>Rating</dt>
    <dd>@Model.TopRatedBrewery.Brewery_Rating</dd>
</dl>
